.text-content-heading {
  display: inline-flex;
  flex-direction: column;
  gap: var(--size-space-200);
  position: relative;
}

.text-content-heading .heading {
  align-self: stretch;
  color: var(--color-text-default-default);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  margin-top: -1px;
  position: relative;
}

.text-content-heading .subheading {
  align-self: stretch;
  color: var(--color-text-default-secondary);
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: relative;
}

.text-content-heading.align-4-center {
  align-items: center;
}

.text-content-heading.align-4-start {
  align-items: flex-start;
}

.text-content-heading.align-4-center .heading {
  text-align: center;
}

.text-content-heading.align-4-center .subheading {
  text-align: center;
}
