.pagination-previous {
  align-items: center;
  border-radius: var(--size-radius-200);
  display: inline-flex;
  gap: var(--size-space-200);
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200) var(--size-space-300);
  position: relative;
}

.pagination-previous .arrow-left {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.pagination-previous .text-wrapper-5 {
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pagination-previous.disabled-true {
  opacity: 0.5;
}

.pagination-previous.disabled-true .text-wrapper-5 {
  color: var(--color-text-default-secondary);
}

.pagination-previous:hover {
  background-color: var(--color-background-default-default-hover);
}
