.pagination-page {
  align-items: center;
  border-radius: var(--size-radius-200);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200) var(--size-space-300);
  position: relative;
}

.pagination-page .element {
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pagination-page.state-0-hover {
  background-color: var(--color-background-default-default-hover);
}

.pagination-page.state-0-current-hover {
  background-color: var(--color-background-brand-hover);
}

.pagination-page.state-0-current {
  background-color: var(--color-background-brand-default);
}

.pagination-page.state-0-hover .element {
  color: var(--color-text-default-default);
}

.pagination-page.state-0-current-hover .element {
  color: var(--color-text-brand-on-brand);
}

.pagination-page.state-0-default .element {
  color: var(--color-text-default-default);
}

.pagination-page.state-0-current .element {
  color: var(--color-text-brand-on-brand);
}
