.comment-card {
  background-color: var(--color-background-default-default);
  border: 1px solid var(--color-border-default-default);
  border-radius: var(--size-radius-200);
  padding: var(--size-space-400);
  margin-bottom: var(--size-space-400); /* Space between comment cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better separation */
}

.comment-card p {
  margin: 0;
  padding: 4px 0;
  line-height: 1.4;
}

.comment-card p:first-child {
  font-weight: bold; /* Make the author name bold */
  font-size: 1.1em; /* Slightly increase the font size */
  color: var(--color-text-default-secondary); /* Adjust text color if needed */
}

.comment-card p:nth-child(2) {
  font-size: 1.2em; /* Increase the font size for the comment text */
  color: var(--color-text-default-default); /* Primary text color */
}

/* Dark mode adjustments */
[data-theme='dark'] .comment-card {
  background-color: var(--color-dark-darker);
  border-color: var(--color-dark-light-mid);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Adjust shadow for dark mode */
}

[data-theme='dark'] .comment-card p:first-child {
  color: var(--color-white); /* Adjust text color for dark mode */
}

[data-theme='dark'] .comment-card p:nth-child(2) {
  color: var(--color-white); /* Adjust text color for dark mode */
}
