.comment-card {
  background-color: var(--color-background-default-default);
  border: 1px solid var(--color-border-default-default);
  border-radius: var(--size-radius-200);
  padding: var(--size-space-600);
  width: 100%; /* Make sure it takes up the full width of the container */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: var(--size-space-400); /* Space between the stacked items */
  margin-bottom: var(--size-space-600); /* Space between comment cards */
}

.comment-card .comment-header {
  display: flex;
  align-items: center;
  gap: var(--size-space-300); /* Space between avatar and user info */
}

.comment-card .avatar-instance {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-card .comment-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-card .comment-user-name {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
}

.comment-card .comment-date {
  font-family: var(--body-base-font-family);
  font-size: var(--body-base-font-size);
  color: var(--color-text-default-tertiary);
}

.comment-card .comment-body {
  font-family: var(--body-base-font-family);
  font-size: var(--body-base-font-size);
  color: var(--color-text-default-secondary);
  margin-top: var(--size-space-400); /* Space between user info and comment */
}

.comment-card .comment-actions {
  display: flex;
  gap: var(--size-space-300); /* Space between action buttons */
  margin-top: var(--size-space-400); /* Space between comment and actions */
}

.comment-card .comment-actions button {
  background-color: var(--color-background-neutral-tertiary);
  border: 1px solid var(--color-border-neutral-secondary);
  border-radius: var(--size-radius-200);
  padding: var(--size-space-300);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  color: var(--color-text-default-default);
  cursor: pointer;
}

.comment-card .comment-actions button:hover {
  background-color: var(--color-border-neutral-secondary);
}

.comment-card .comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--size-space-600); /* Space between actions and footer */
}

/* Overlay styles */
.post-popout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

/* Container styles */
.post-popout-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90vh;
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.close-button:hover {
  color: rgb(196, 196, 196);
}

/* Header styles */
.post-popout-header {
  display: flex;
  padding-right: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.post-popout-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-popout-title {
  font-size: 20px;
  font-weight: bold;
}

.post-popout-author-details {
  margin-left: 10px;
}

/* Body styles */
.post-popout-body {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

/* Comments section styles */
.comments-container {
  flex-grow: 1;
}

.comments-grid {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-600); /* Space between each comment */
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #555;
}

.pagination .active a {
  background-color: #007bff;
}

/* Dark mode styles */
[data-theme='dark'] .post-popout-container {
  background: var(--color-dark-darker);
}

[data-theme='dark'] .close-button {
  color: var(--color-gray-light);
}

[data-theme='dark'] .post-popout-body,
[data-theme='dark'] .comment-body {
  color: var(--color-gray-light-mid);
}

[data-theme='dark'] .comment-user-name {
  color: var(--color-gray-lightest);
}

[data-theme='dark'] .comment-card {
  background-color: var(--color-dark-foreground);
  border: 1px solid var(--color-dark-border);
}

[data-theme='dark'] .comment-actions button {
  background-color: var(--color-dark-mid);
  color: var(--color-white);
}

[data-theme='dark'] .comment-actions button:hover {
  background-color: var(--color-dark-light-mid);
}
