.friend-list {
  background-color: #ffffff;
  height: 326px;
  overflow: hidden;
  position: relative;
  width: 873px;
}

.friend-list .friend-list-frame-instance {
  left: 0 !important;
  position: absolute !important;
  top: 83px !important;
}

.friend-list .text-wrapper-2 {
  color: #000000;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  height: 83px;
  left: 15px;
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  position: absolute;
  top: -1px;
  width: 318px;
}
