.card-grid-content {
  align-items: flex-start;
  background-color: var(--color-background-default-default);
  display: flex;
  flex-direction: column;
  gap: var(--size-space-1200);
  position: relative;
  width: var(--responsive-device-width);
}

.card-grid-content .text-content-heading-instance {
  flex: 0 0 auto !important;
}

.card-grid-content .cards {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.card-grid-content .card-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  min-width: 240px !important;
  width: 100% !important;
}

.card-grid-content.platform-desktop {
  padding: var(--size-space-1600);
}

.card-grid-content.platform-mobile {
  padding: var(--size-space-600);
}

.card-grid-content.platform-desktop .cards {
  gap: var(--size-space-600);
}

.card-grid-content.platform-mobile .cards {
  gap: var(--size-space-1200);
}
