.panel-image-double {
  align-items: flex-start;
  background-color: var(--color-background-default-default);
  display: flex;
  height: 400px;
  opacity: 0.8;
  position: relative;
  width: var(--responsive-device-width);
}

.panel-image-double .image {
  align-self: stretch;
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.panel-image-double .image-2 {
  align-self: stretch;
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.panel-image-double.platform-desktop {
  gap: var(--size-space-1200);
  padding: var(--size-space-1600);
}

.panel-image-double.platform-mobile {
  flex-direction: column;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
}

.panel-image-double.platform-desktop .image {
  background-image: url(../../../static/img/image-16.svg);
}

.panel-image-double.platform-mobile .image {
  background-image: url(../../../static/img/image-18.svg);
  width: 100%;
}

.panel-image-double.platform-desktop .image-2 {
  background-image: url(../../../static/img/image-17.svg);
}

.panel-image-double.platform-mobile .image-2 {
  background-image: url(../../../static/img/image-19.svg);
  width: 100%;
}
