.home-page {
  align-items: flex-start;
  background-color: var(--color-background-default-default);
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--responsive-device-width);
}

.home-page .top-bar-group-instance {
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
}

.home-page .section-instance {
  align-self: stretch !important;
  width: 100% !important;
}
