.home-page {
  padding-top: 20%; /* Ensure there's space for the TopBarGroup */
  padding-bottom: 45px;
  justify-content: center;
  align-items: center;
  
}

.top-bar-group-instance {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
}

.welcome-message {
  padding-top: 20px;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 0px 50px  rgba(255, 254, 223, 0.808);
}

.hero-basic {
  text-align: center;
  margin-bottom: 20px;
}

.text-content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-block-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading {
  text-align: centre;
  font-size: large;
  

}
.avatar-instance {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper-7 {
  font-size: 24px;
  font-weight: bold;
}

.card-grid-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  
}

.friend-border{
  display: flex;
  justify-self: center;
  align-items: center; /* Center vertically */
  width: 100%; /* Full viewport width */
  padding: 10px; /* Optional padding */
  margin: auto;
  /* background-image: url('../../assets/treeImage.JPG'); */
  background-size: 100%;
  background-position: 20%;
  border-radius: 30px;
  
}

.friend-list-instance ul {
  list-style: none;
  grid: column;
  padding: 0;

}

.friend-list-instance li {
  margin: 10px 0;
}

.text-content-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 0px 50px  rgba(255, 254, 223, 0.808);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;


}

.error-message, .no-posts-message {
  text-align: center;
  color: red;
}

[data-theme='dark'] .home-page {
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

