.friends-list-container {
  display: flex;
  height: 400px;
  margin-bottom: 40px;
  /* align-items: flex-start; */
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #a2a1a1;
  border-radius: 30px;
}

.friends-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
  max-height: 100%;
  grid-gap: 15px; /* Gap between grid items */
}
.friend-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #efefef;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.friend-item:last-child {
  border-bottom: none;
}

.friend-name {
  margin-left: 10px;
  flex: 1;
}

.remove-friends {
  display:  flex;
  width: 120px;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #8b8989;
  color: #fff;
  border: none;
  cursor: pointer;
}


.remove-friends:hover {
  display:  flex;
  width: 120px;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #c09090;
  color: #fff;
  border: none;
  cursor: pointer;
}









