:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #bb86fc;
  --link-hover-color: #3700b3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

/* Add other global styles here */
