.tag-toggle {
  align-items: center;
  border-radius: var(--size-radius-200);
  display: inline-flex;
  gap: var(--size-space-200);
  justify-content: center;
  padding: var(--size-space-200);
  position: relative;
}

.tag-toggle .check {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.tag-toggle .title-2 {
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tag-toggle.off {
  background-color: var(--color-background-brand-tertiary);
}

.tag-toggle.on {
  background-color: var(--color-background-brand-default);
}

.tag-toggle.off .title-2 {
  color: var(--color-text-brand-tertiary);
}

.tag-toggle.on .title-2 {
  color: var(--color-text-brand-on-brand);
}
