.pagination {
  display: flex;
  align-items: center;
}

.pagination-list {
  display: flex;
  align-items: center;
}

.page-number,
.pagination-page {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-number.active,
.pagination-page.state-0-current .element {
  background-color: #000;
  color: #fff;
}

.pagination-page.state-0-hover .element,
.pagination-page.state-0-current-hover .element {
  background-color: #f0f0f0;
}

.pagination-gap .text-wrapper-6 {
  padding: 5px 10px;
}
