.building-blocks-wrapper {
  background-color: var(--m3-schemes-primary-container);
  border-radius: 100px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.building-blocks-wrapper .initial-2 {
  color: var(--m3-schemes-on-primary-container);
  font-family: var(--m3-title-medium-font-family);
  font-size: var(--m3-title-medium-font-size);
  font-style: var(--m3-title-medium-font-style);
  font-weight: var(--m3-title-medium-font-weight);
  height: 40px;
  left: 0;
  letter-spacing: var(--m3-title-medium-letter-spacing);
  line-height: var(--m3-title-medium-line-height);
  position: absolute;
  text-align: center;
  top: -1px;
  width: 40px;
}
