.pagination-gap {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-400) var(--size-space-200) var(--size-space-400);
  position: relative;
}

.pagination-gap .text-wrapper-6 {
  color: var(--colors-black-100);
  font-family: var(--body-base-bold-font-family);
  font-size: var(--body-base-bold-font-size);
  font-style: var(--body-base-bold-font-style);
  font-weight: var(--body-base-bold-font-weight);
  letter-spacing: var(--body-base-bold-letter-spacing);
  line-height: var(--body-base-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
