.hero-basic {
  align-items: center;
  background-color: var(--color-background-default-secondary);
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--responsive-device-width);
}

.hero-basic .class {
  font-family: var(--title-page-font-family) !important;
  font-size: var(--title-page-font-size) !important;
  font-style: var(--title-page-font-style) !important;
  font-weight: var(--title-page-font-weight) !important;
  letter-spacing: var(--title-page-letter-spacing) !important;
  line-height: var(--title-page-line-height) !important;
}

.hero-basic .text-content-title-instance {
  flex: 0 0 auto !important;
}

.hero-basic.desktop {
  padding: var(--size-space-4000) var(--size-space-1600) var(--size-space-4000) var(--size-space-1600);
}

.hero-basic.mobile {
  padding: var(--size-space-4000) var(--size-space-600) var(--size-space-4000) var(--size-space-600);
}
