.search-results {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    height: 80vh;
    /* scroll-margin-bottom: 0vh; */
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-results-item {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
}
.search-results-item:last-child {
    padding-bottom: 10vh;

}

.search-results-card {
    display: flex;
    min-width: 250px;
    min-height: 120px;
    /* border: solid 1px gray; */
    /* border-radius: 8px; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #efefef;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.add-friend-button {
    padding: 10px 20px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #494949;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

