.search {
  display: flex;
  align-items: center;
  background-color: var(--color-background-default-default);
  border: 1px solid var(--color-border-default-default);
  border-radius: var(--size-radius-full);
  padding: var(--size-space-300) var(--size-space-400);
  width: 100%;
  max-width: 400px;
}

.search .icon-outlined-action {
  height: 24px !important;
  width: 24px !important;
}

.search .search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  color: var(--color-text-default-default);
  background-color: transparent;
}

.search .x {
  height: 16px !important;
  width: 16px !important;
  cursor: pointer;
}
